<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.github.tcking.giraffe.helper">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@mipmap/ic_launcher"
                 android:theme="@style/AppTheme">
        <activity android:name="com.github.tcking.giraffe.ui.activity.AppImageCroppingActivity"/>

    </application>

</manifest>
